* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #FAF6E9);
    width: 100%;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cabeçalho {
    background: linear-gradient(to right, #A9C46C);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 190px;
}

.contener {
    width: 280px;
    height: 350px;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(to right, );
    position: relative;
    top: 70px;
    left: 500px;

}


input {
    border-radius: 10px;
    width: 90%;
    height: 20px;
}



.rodape {
    position: fixed;
    width: 100%;
    background-color: #FFFECE;
    bottom: 0%;

}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 50px;


}

h2 {
    font-family: "Alumni Sans SC", sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.foto {
    position: absolute;
    left: 500px;
    top: 460px;
    width: 600px;
    background-color: #AFC8AD;
    border-radius: 20px;
}

h3 {
    /* position: absolute; */
    margin-top: 40px;
    /* left: 720px; */
    text-align: center;
}

.scene {
    perspective: 1000px;
}

.card {
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    flex: 0 0 calc(25% -20px);
    flex-wrap: wrap;
    perspective: 1000px;

}

.face {
    width: 300px;
    height: 450px;
    transition: 0.7s;
    transform-style: preserve-3d;
}

.card.is-flipped .face {
    transform: rotateY(-180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    border-radius: 10px;
    backface-visibility: hidden;
}

.front {
    display: flex;
    transform: rotateY(0);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #88AB8E;
}

.back {
    display: flex;
    transform: rotateY(180deg);
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.container {
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

h6 {
    font-family: "Alumni Sans SC", sans-serif;
    background: linear-gradient(to right, #A9C46C);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    font-size: 15px;
}

.imgCard {
    width: 100%;
    height: 100%;
}

.infor {
    position: absolute;
    top: 268px;
    border-radius: 25px;
    border:2px solid white;
    height: 26px;
    right: 89px;
    width: 117px;
    background-color: #A9C46C;
    color: white;
    cursor: pointer;
}